@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@layer components {
  .input-primary {
    @apply py-2 px-3 block border-gray-200 border-[1px] w-[40px] rounded-md focus:border-blue-500;
  }
  .input-primary-cpid {
    @apply py-3 px-3 block border-gray-200 border-[1px] w-[60px] 
    text-[22px]
    bg-[#eeeeee]
    rounded-md focus:border-blue-500;
  }
}

.station-info [data-rsbs-header] {
  text-align: left;
  /* padding-top: 30px;*/
  padding-left: 30px; 
}