@import "variable";
@import "common";

.layout-out {
  width: 100%;
  height: 75vh;

  padding: 20px 20px 20px 24px;
  background: #f2f2f2;
  // border: 2px solid #e4e6e8;
  border-radius: 8px;
  overflow-y: auto;
}

.content {
  white-space: break-spaces;

  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

@media screen and (min-width: 768px) {
}
